<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DEVotion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <DEVotion.Properties.Settings>
            <setting name="Style_Keyword_Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Style_Keyword_Bold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Style_Keyword_Italic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_Comment_Color" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Style_Comment_Bold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_Comment_Italic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_String_Color" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="Style_String_Bold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_String_Italic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_Number_Color" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="Style_Number_Bold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Style_Number_Italic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_LoveKeyword_Color" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Style_LoveKeyword_Bold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Style_LoveKeyword_Italic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_Constant_Color" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="Style_Constant_Bold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Style_Constant_Italic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_Code_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Style_Code_Bold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_Code_Italic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style_Scope_Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Style_Scope_Bold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Style_Scope_Italic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Path_Executable" serializeAs="String">
                <value />
            </setting>
            <setting name="Style_Background" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="Style_Font" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
        </DEVotion.Properties.Settings>
    </userSettings>
</configuration>
